.no-select {  /*Prevents the user from selecting text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#template {
  display: none;
}

tr{
  display: none;
}

.visible-data {
  display: table-row;
}

#initialDeposit {
  color: #00B100;
}

/*Hides number spinner in Non-Firefox browsers*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Hides number spinner in Firefox*/
input[type=number], input[type=date] {
  -moz-appearance:textfield;
}

body {
  background-color: #3a60b2;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

#transactionDesc{
  width: 156px;
  margin-right: 16px;
}

#transactionDate{
  width: 120px;
  margin-right: 16px;
}

#transactionAmount{
  width: 72px;
}

.container, .header{
  min-width: 768px;
}

#balanceLeft, #balanceRight {
  text-align: center;
  font-size: 36px;
  font-size: 3vw;
  height: 72px;
  margin-top: 48px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  border-bottom: 0px solid red;
  text-align: center;
  z-index: 1;
  line-height: 64px;
}

#balanceLeft p, #balanceRight p{
  margin: auto;
  text-align: center;
  height: 72px;
  vertical-align: middle;
}

@media (min-width: 990px) {
  #balanceRight{
    border-top-left-radius: 0px;
    border-left: 0px;
    border-left: 0px solid red;
  }
  #balanceLeft{
    border-top-right-radius: 0px;
    border-right: 0px solid red;
  }
}

@media (max-width: 990px) {
  #balanceRight{
    height:56px;
    border-bottom: 1px solid black;
    font-size: 32px;
  }
}

@media (min-width: 1800px){
  #balanceLeft,#balanceRight{
    font-size:46px;
  }
}

#mainTable {
  background-color: white;
  margin-top: -2px;
  width: 100%;
  height: 50px;
  border: 2px solid black;
}

#mainTable tr{
  border-top: 1px solid black;
  background-color: #c4d6ff;
}

#headers {
  font-size: 18px;
  border-bottom: 1px solid grey;
}

#headers > * {
  background-color: white;
}

#addTransaction {
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid black;
  text-align: center;
}

#addTransaction > * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 32px
}

#addTransaction > form > p {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 12px;
}

#addTransaction > p {
  font-size: 24px;
  padding-top: 42px;
  padding-right: 12px;
}

#transactionSubmit{
  border-radius: 3px;
  border: 0px;
  background-color: #3a60b2;
  color: white;
  font-family: Arial, sans-serif;
}

#transactionSubmit:active, #transactionSubmit:focus{
  outline: 0px;
  background-color: #3557a0;
}

input:active, input:focus {
  outline: 0px;
}

.glyphicon {
  border: 0px solid red;
  background-color: #3557a0;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 4px 5px 4px 4px;
}

.glyphicon:focus, .glyphicon:active {
  outline: 0px;
}
